
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Red Hat Mono', monospace;
    
}

body{
    background-color: #bc6f83;
    display: flex;
    justify-content: center;
}


.author{
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

.imageB{
    width: 500px;
    height: auto;
    margin: 30px;
}